@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #262626;
  --primary: #9aca3c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

@layer components {
  .container {
    @apply mx-auto px-5 max-w-[1280px];
  }

  /* Responsive container for smaller screens */
  @media (min-width: 1536px) {
    .container {
      @apply max-w-[1286px];
    }
  }
} 

body {
  font-family: var(--font-poppins), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.custom-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
