@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #262626;
  --primary: #9aca3c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .section-title {
    @apply text-3xl lg:text-4xl 2xl:text-5xl font-semibold text-foreground leading-[130%];
  }
  .section-subtitle {
    @apply text-sm lg:text-[16px]  text-[#555555] max-w-[800px] mx-auto;
  }
  .bg-spark {
    @apply bg-linear-to-b from-[#09320A] to-[#041504];
  }
}

@layer components {
  .container {
    @apply mx-auto px-5 max-w-[1280px];
  }

  /* Responsive container for smaller screens */
  @media (min-width: 1536px) {
    .container {
      @apply max-w-[1286px];
    }
  }
}

body {
  font-family: var(--font-poppins), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.custom-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none; 
   scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
} 

.inner-shadow-white {
  box-shadow: inset 0 4px 4px 0 rgba(255, 255, 255, 0.25);
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 100s linear infinite;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer utilities {
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

  /* added slideUp animation for carousel items */
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slideInFromRight {
    animation: slideInFromRight 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  }

  .animate-rotate360 {
    animation: rotate360 20s linear infinite;
  }
}

#smooth-wrapper {
height: 100%;
overflow: hidden;
} 

#smooth-content {
will-change: transform;
} 
/* marquee gradient*/
.rfm-overlay {
  --gradient-color: #f7f7f7 !important;
}
