@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #262626;
  --primary: #9ACA3C;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
}



body {
  background: var(--background);
  color: var(--foreground);
}

.custom-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}
